.header
    display: flex
    align-items: center
    background-color: #1e1e1e
    padding: 0 11px
    height: 56px
    box-sizing: border-box
    &__logo
        img
            width: 42px
            height: 42px
            display: block
            margin-bottom: -3px
    h1
        color: slategray
        margin-left: 14px
