.videoEditor
    max-width: 100vw
    padding: 21px 0
    box-sizing: border-box
    height: calc(100vh - 56px)

.FrameNavigation
    // border: 1px solid red
    height: 100px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 21px
.frameIndexCounter
    text-align: center
    color: #868686
    font-size: 12px
    padding: 11px 0
.navigationButton
    // border: 1px solid
    border: none
    cursor: pointer
    background-color: #0b0f19
    height: 100px
    border-radius: 7px
    box-sizing: border-box
    margin: 4px
    padding: 0 11px
    display: block
    color: #868686
    &:active
        background-color: #000
.maskModeButton, .activeMaskModeButton
    // font-size: 50px
    border-radius: 7px
    padding: 7px
    &:hover
        cursor: pointer
.maskModeButton
    color: white
    border: 1px solid #0b0f19
    --fa-primary-color: rgba(255, 255, 255, 0.8)
    --fa-secondary-color: rgba(255, 255, 255, 0.8)
    --fa-secondary-opacity: 0.5
    background-color: rgba(0, 0, 0, .5)
.activeMaskModeButton
    color: white
    --fa-primary-color: rgba(255, 255, 255, 0.7)
    border: 1px solid darkred
    background-color: darkred
.frameMosaicRemoveButton
    box-sizing: border-box
    display: flex
    justify-content: center
    button
        background-color: #0b0f19
        color: #868686
        border-radius: 7px
        border: none
        padding: 7px 14px
        transition: all .2s
        &:hover
            cursor: pointer
            opacity: .7
.frameTools
    padding: 11px
    display: flex
    column-gap: 30px
    align-items: center
    justify-content: center
.timelineThumbnails
    display: flex
    overflow-x: auto
    overflow-y: hidden
    white-space: nowrap
    box-sizing: border-box
    margin: 7px
    border-radius: 7px
    background-color: white

    &::-webkit-scrollbar
        display: none
    img
        object-fit: cover
        width: 97px
        height: 97px
        box-sizing: border-box
        transition: all .2s
        &:hover
            cursor: pointer
            opacity: .7



.mainColumn
    // border: 1px solid blue
    display: flex
    height: 100%
.mainSidebar
    // border: 1px solid green
    width: 300px
    padding: 0 21px
.mainCanvas
    background-color: #202939
    border-radius: 7px
    padding: 21px 0
    width: calc( 100% - 300px )
    min-width: 700px
    margin: 0 21px 0 0

.konvaCanvas
    display: flex
    justify-content: center
    align-items: center
    margin: auto auto auto
    transition: all .2s
.CanvasWithNavigation
    display: flex
    justify-content: space-between
    flex-direction: column
    height: 100%
.onChangeFileDroparea
.fileUploadingProgressInfo
    color: #868686
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 100%
    font-size: 14px
    div
        margin-bottom: 9px
    @keyframes blink
        0%, 100%
            opacity: 1
        50%
            opacity: .5
    animation: blink 1s linear infinite

.fileDropPlaceholder
    color: #868686
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 100%
    transition: all .2s
    svg
        font-size: 180%
        margin-bottom: 9px
    &:hover
        cursor: pointer
        opacity: .7

.penSize
    width: 100%
    padding: 11px 0
    box-sizing: border-box
    input
        width: 100%
.rangeField
    display: flex
    [type="range"]
        flex: 9
    [type="number"]
        flex: 1
        text-align: center
        background-color: #0b0f19
        color: #868686
        border: none
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0


.navLabelStyle
    color: #868686
    font-size: 12px
    margin-bottom: 7px
    margin-left: 7px

.fileResetButton
    margin: 21px auto
    width: 100%
    box-sizing: border-box
    display: flex
    justify-content: center
    button
        background-color: #202939
        color: #868686
        border-radius: 7px
        width: 100%
        border: none
        padding: 14px
        transition: all .2s
        &:hover
            cursor: pointer
            opacity: .7
    svg
        margin-left: 7px